header{
    height: 72px;
    position: fixed;
    background-color: var(--celeste);
    opacity: .9;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding: 5px 15px;
    top: 0;
}

.header-content{
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;

}

.header__brand-image-container-alternative{
    height: 50px;
    width: 100px;
}

.header__brand-image-container-alternative img{
    width: 100%;
}

/* .header__image-container{
    display: none;
}

.header__image-container img{
    width: 45px;
    height: 45px;
    cursor: pointer;
} */

.list-items-alternative ul{
    display: flex;
}

.list-items-alternative ul li{
    display: flex;
    direction: none;
}

.list-items ul li:first-of-type{
    padding-right: 15px;
}

.list-items-alternative ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkHeader{
    color: black;
    align-self: center;
}
@media (max-width: 768px){
    .list-items{
        display: none;
    }

    .header__input-search{
        width: 90%;
    }

    .header__image-container{
        display: flex;
    }
}