header{
    height: 72px;
    position: fixed;
    background-color: var(--verde-claro);
    opacity: .9;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding: 5px 15px;
    top: 0;
}

.header-content{
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;

}

.header__brand-image-container{
    height: 50px;
    width: 100px;
}

.header__brand-image-container img{
    width: 100%;
}

.header__image-container{
    display: none;
}

header__image-container img{
    width: 45px;
    height: 45px;
    cursor: pointer;
}


.header__input-search{
    width: 60%;
}

.header__input-search input{
    width: 100%;
    height: 35px;
    border: none;
    background-color: var(--mar);
    border-radius: 15px;
}

.list-items ul{
    display: flex;
}

.list-items ul li{
    display: flex;
    direction: none;
}

.list-items ul li:first-of-type{
    padding-right: 15px;
}

@media (max-width: 768px){
    .list-items{
        display: none;
    }

    .header__input-search{
        width: 90%;
    }

    .header__image-container{
        display: flex;
    }
}