/* //768 */

.main-product-card {
  width: 80%;
  display: flex;
  justify-content: center;
  border: 2px solid var(--azul-oscuro);
  border-radius: 15px;
  margin: 100px auto 0;
}
.main-product-card > article {
  width: 100%;
}

.main-product-title__alternative {
  display: none;
  padding: 15px;
  font-size: 26px;
}
.main-product-title {
  padding: 15px;
  font-size: 26px;
}
.main-product-card__image,
.main-product-card__image-alternative {
  display: flex;
  width: 100%;
  padding: 5px;
}

.main-product-card__image img {
  display: flex;
  width: 100%;
  border-radius: 15px;
}

.main-product-card__price {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 15px 0 15px 5px;
}

.main-product-card__description {
  padding: 5px;
  font-size: 22px;
}

.main-product-card__image-alternative {
  display: none;
}

@media (min-width: 1100px) {
  .main-product-card {
    flex-direction: column;
  }

  .main-product-card__image {
    display: none;
  }

  .main-product-card__image-alternative {
    display: inline-block;
    width: 100%;
  }

  .main-product-card__image-alternative img{
    border-radius: 15px;
    width: 100%;
  }

  .main-product-card__all-content {
    display: flex;
  }

  .main-product-title__alternative {
    display: block;
  }

  .main-product-title {
    display: none;
  }

  /* .main-product-card__info{
    min-width: 300px;
  } */
}
