:root{
  --mar: #348888;
  --verde-claro: #22BABB;
  --verde-blanco: #9EF8EE;
  --naranja: #FA7F08;
  --rojo: #F24405;
  --azul: #2759A0;
  --azul-oscuro:#0C2A54;
  --azul-claro:#5192ED;
  --mar2: #21A5AD;
  --canela: #A17727;
  --amarillo:#EDD121;
  --verde: #83A116;
  --celeste:#80AEED;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none !important;
}


